/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.parallax-wrapper {
  width: 100%;
  height: 100vh;
  background: #111b29;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.parallax-wrapper main {
  position: fixed;
  background: #fff;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.parallax-wrapper .scrollDist {
  width: 100%;
  height: 200%;
}

svg {
  width: 100%;
  height: 100%;
  display: block;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.parallax-wrapper {
  width: 100%;
  height: 100vh;
  background: #111b29;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

.parallax-wrapper svg {
  width: 100%;
  height: 100%;
  display: block;
}

.parallax-wrapper text {
  font-size: 48px;
}

.scrollDist {
  height: 100vh;
}

.arrow {
  transition: transform 0.3s ease;
}
